<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66064217695-p6n41ulepfocae7ed3equdac7onnbrqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66064217695-p6n41ulepfocae7ed3equdac7onnbrqt</string>
	<key>API_KEY</key>
	<string>AIzaSyC9IYoKPpbsOYiH4pV_0wkYKJlMirxhR1g</string>
	<key>GCM_SENDER_ID</key>
	<string>66064217695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.questgo.ios</string>
	<key>PROJECT_ID</key>
	<string>questgo-77ce7</string>
	<key>STORAGE_BUCKET</key>
	<string>questgo-77ce7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66064217695:ios:31bfa2118f9d2980d24dea</string>
	<key>DATABASE_URL</key>
	<string>https://questgo-77ce7.firebaseio.com</string>
</dict>
</plist>